/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */

  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  gap: 40px;
  color: var(--global-color, #F1B2CE);
  font-size: var(--font-size, 18px);
  background-color: var(--global-background-color, #000028);
  background-image: var(--background-images, url(../images/cover-image-dark.png));
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  inline-size: 100%;
  block-size: 100vh;
  color: var(--accent-color,#FF0070);
  padding: var(--paddings, 10px);
  min-block-size: 668px;
}

.decorated-zone::before {
  content: '';
  border-inline-end: 1px solid var(--h2-title, #ff0070);
  border-block-start: 1px solid var(--h2-title, #ff0070);
  justify-self: end;
  inline-size: 25.0px;
  block-size: 25.0px;
  position: absolute;
  top: var(--paddings, 10px);
  right: var(--paddings, 10px);
}

.decorated-zone::after {
  content: '';
  inline-size: 25.0px;
  block-size: 25.0px;
  border-inline-start: 1px solid var(--h2-title, #ff0070);
  border-block-end: 1px solid var(--h2-title, #ff0070);
  position: absolute;
  bottom: var(--paddings, 10px);
  left: var(--paddings, 10px);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
  color: var(--h2-title, #ff0070);
}

.header__theme-menu-button {
  min-inline-size: 70px;
  min-block-size: 26px;
  background-color: transparent;
  text-transform: lowercase;
  border: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--h2-title, #ff0070);
}

.header__theme-menu-button:focus {
  outline:none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--h2-title, #ff0070)
}

.header__theme-menu-button_active { 
  outline:1px solid var(--h2-title, #ff0070);
  pointer-events: none
}

.header__rec {
  inline-size: 52.0px;
  block-size: 26.0px;
  position: absolute;
  top: var(--paddings, 10px);
  right: calc(var(--paddings, 10px) + 9px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__rec::before {
  content: 'REC';
  fill: var(--accent-color,#FF0070);
  font-style: var(--font-style, normal);
}

.header__rec::after {
  content: '';
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
  background-color: var(--accent-color, #ff0070)
}

.title {
  color: var(--title-color,#DB00FF);
  text-shadow: 4px 4px 0 var(--global-background-color,#FF0070);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
}

.header__content {
  align-self: center; 
  font-weight: var(--font-weight-bold,700);
  line-height: 23,4px;
}

.title-decor{
  background-color: var(--global-background-color,#FF0070);
  color: var(--text-color,#000028);
}

.main {
  display: grid;
  gap: 50px;
  padding-inline-start: var(--paddings, 10px);
  padding-inline-end: var(--paddings, 10px);
}

.main__section {
  display: grid;
  gap: 20px;
}

.main__section__card {
  display: grid;
  /* gap: 10px; */ 
}

.main__unique-h3 {
  margin-block-end: 10px;
  font-size: 18px;
}

.main__section-special {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 1 / -1;
  grid-row: 2 / auto;
  gap: 20px;
}

.main__content__card {
  margin-block-start: var(--paddings, 10px);
}

.main__section__card-special {
    grid-column: 1 / -1;
}

.main__title {
  color: var(--h2-title,#FF0070);
  font-size: var(--font-size, 18px);
  font-weight: var(--font-weight-bold, 700);
  font-style: var(--font-style,  normal);
  line-height: var(--line-height, 23.4px);
}

.main__section__card-list {
  display: grid;
  gap: 10px;
}

.main__section__card-item {
  margin-block-start: var(--paddings, 10px);
}

.text-shadow {
  text-shadow: 2px 2px 0 var(--global-background-color,#FF0070);
  line-height: 82.5%;
  text-decoration: none;
}

.text-shadow:hover {
  text-decoration: underline;
}

.text-shadow:focus {
  outline: none;
}

.text-shadow:focus-visible {
  border: 1px solid var( --global-color, #f1b2ce);
}

h4 {
  font-weight: var(--font-weight, 400);
}

.main__gallery {
  display: grid;
  gap: 10px;
}

.item_gallery {
  inline-size: 100%;
}

.footer {
  position: relative;
  display: grid;
  align-content: center;
  justify-content: center;
  inline-size: 100%;
  block-size: 100vh;
  padding: var(--paddings, 10px);
  min-block-size: 668px;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--accent-color,#FF0070);;
}


@media (width >= 768px) {
  :root {
    --paddings: 20px;
  }

  .page {
    gap: 60px;
  }

  .header {
    padding-inline-start: 0;
  }

  .header__content{
    justify-self: end;
    inline-size: 364px;
    block-size: 117px;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  }

  .main {
    gap: 80px;
  }

  .main__unique-h3 {
    margin-block-end: 0px;
    font-size: 18px;
  }

.main__section {
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: repeat(auto-fill, 1fr);
}

.main__section__card {
  grid-column: 2 / auto;
}

.main__content__card {
  margin-block-start: 10px;
}

.main__section-special {
  grid-template-columns: repeat(3, 1fr);
}

.main__section__card-list {
  gap: 0px;
}

.main__section__card-special {
  grid-column: 1 / -1;
}

.main__section__card-gallery {
  grid-column: 1 / -1;
}

.main__gallery {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  margin-block-start: 20px;
  gap: 20px;
}

.item_gallery {
  block-size: 100%;
  object-fit: cover;
}

.item_gallery:nth-child(1) {
  grid-column: 1 / span 2;
  grid-row: 1 / 2;
}

.item_gallery:nth-child(2) {
  grid-row: 1 / span 2;
}

.item_gallery:nth-child(3) {
  grid-row: 2 / span 2;
}

.item_gallery:nth-child(5) {
  grid-column: 2 / span 2;
}
}

@media (width >= 1024px) {

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin-inline-start: 20px;
  }

  .header__theme-menu-list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }

  .header__content{
    justify-self: end;
    inline-size: 491px;
    block-size: 71px;
  }

  .main__section__card-special{
    grid-column: auto;
  }
}



