/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */

  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  gap: 40px;
  color: var(--global-color, #F1B2CE);
  font-size: var(--font-size, 18px);
  background-color: var(--global-background-color, #000028);
  background-image: var(--background-images, url(../images/cover-image-dark.png));
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  inline-size: 100%;
  block-size: 100vh;
  color: var(--accent-color,#FF0070);
  padding: 10px;
}

.header::before {
  content: '';
  border-inline-end: 1px solid var(--accent-color,#FF0070);
  border-block-start: 1px solid var(--accent-color,#FF0070);
  justify-self: end;
  inline-size: 25.0px;
  block-size: 25.0px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.header::after {
  content: '';
  inline-size: 25.0px;
  block-size: 25.0px;
  border-inline-start: 1px solid var(--accent-color,#FF0070);
  border-block-end: 1px solid var(--accent-color,#FF0070);
  position: absolute;
  bottom:10px;
  left: 10px;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: grid;
  gap:10px;
}

.header__theme-menu-button {
  min-inline-size: 70px;
  min-block-size: 26px;
  background-color: transparent;
  text-transform: lowercase;
  border: none;
}

.header__rec {
  inline-size: 52.0px;
  block-size: 26.0px;
  position: absolute;
  top: 10px;
  right: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__rec::before {
  content: 'REC';
  fill: var(--accent-color,#FF0070);
  font-style: var(--font-style, normal);
}

.header__rec::after {
  content: '';
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 100%;
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
  background-color: var(--accent-color, #ff00)
}

.title {
  color: var(--title-color,#DB00FF);
  text-shadow: 4px 4px 0 var(--accent-color,#FF0070);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
}

.header__content {
  align-self: center; 
  font-weight: var(--font-weight-bold,700);
  line-height: 23,4px;
}

.title-decor{
  background-color: var(--accent-color,#FF0070);
  color: var(--text-color,#000028);

}

.main {
  display: grid;
  gap:50px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}

.main__section {
  display: grid;
  gap: 20px;
}

.main__section__card {
  display: grid;
  gap: 10px;
}
.main__section__card-special {
  display: grid;
  gap: 20px;
}

.main__content__card {
  margin-block-start: 10px;
  }

.main__title {
  color: var(--accent-color,#FF0070);
  font-size: var(--font-size, 18px);
  font-weight: var(--font-weight-bold, 700);
  font-style: var(--font-style,  normal);
  line-height: var(--line-height, 23.4px);
}

.main__section__card-list {
  display: grid;
  gap: 20px;
}

.main__section__card-item {
  margin-block-start: 10px;
}

.text-shadow {
  text-shadow: 1px 1px 0 var(--accent-color,#FF0070);
  line-height: 82.5%;
  text-decoration: none;
}

h4 {
  font-weight: var(--font-weight, 400);
}

.main__gallery {
  display: grid;
  gap: 10px;
}

.item_gallery {
  inline-size: 100%;
}

.footer {
  position: relative;
  display: grid;
  align-content: center;
  justify-content: center;
  padding: 10px;
  line-height: 100vh;
  block-size: 100%;
}
.footer::before {
  content: '';
  border-inline-end: 1px solid var(--accent-color,#FF0070);
  border-block-start: 1px solid var(--accent-color,#FF0070);
  justify-self: end;
  inline-size: 25.0px;
  block-size: 25.0px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.footer::after {
  content: '';
  inline-size: 25.0px;
  block-size: 25.0px;
  border-inline-start: 1px solid var(--accent-color,#FF0070);
  border-block-end: 1px solid var(--accent-color,#FF0070);
  position: absolute;
  bottom:10px;
  left: 10px;
}
.footer__title {
  text-shadow: 1px 1px 0 var(--accent-color,#FF0070);;
}
