/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
/* stylelint-disable-next-line rule-empty-line-before */
:root {
  --font-family: 'IBM Plex mono';
  --background-images: url(../images/cover-image-dark.png);
  --global-background-color: #000028;
  --global-color: #f1b2ce;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --text-color: #000028;
  --h2-title: #ff0070;
  --font-size: 18px;
  --font-weight: 400;
  --font-weight-bold: 700;
  --font-style: normal;
  --line-height: 130%;
  --paddings: 10px;
  --border-vision:rgba(255, 0, 112, 0.4);
}

@media (width >= 768px) {

  :root {
    --paddings: 20px;
  }
}